body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    color: #333;
    margin-top: 10px;
}

p {
    color: #777;
    margin-bottom: 10px;
}

button {
    background-color: #ff4081;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

button:hover {
    background-color: #d81b60;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: center;
    bottom: 0;
    width: 100%;
}
